
.w3-container1{
  background-image: url('ink.jpg');
  background-size: cover;
  margin-top: 20px;

}
.w3-container2{
  background-color: red;
  
  text-align: center;
  
}

.w3-row-padding.w3-grayscale{
  margin-left: auto;
  margin-right: auto;
  align-content: center;
 
}
.abt {
  
  background-color: rgba(252, 174, 78, 0); /* Black w/opacity/see-through */
  color: rgb(255, 255, 255);
 font-weight: 500;
  padding-bottom: 50px;
  border-radius: 10px;
  
 
 
 
}
.w3-jumbo .w3-hide-smalll{
}
.w3-xlarge.w3-section i{
  cursor: pointer;
}
.w3-display-bottomleft.w3-text-white.w3-large i{
  cursor: pointer;
}
.w3-button.w3-white.w3-padding-large {
  background-color: rgb(0, 0, 0) !important;
  color: white !important;
}
.w3-button.w3-white.w3-padding-large:hover{
  background-color: rgb(255, 255, 255) !important;
  color: rgb(3, 3, 3) !important;
}
#name{
  padding:8px;
  display:block;
  border-bottom:1px solid #ccc;
  width:100%;
  border:1px solid #ccc!important;
}
#myNavbar{
  background-color: rgb(107, 59, 0);
  color: rgba(255, 220, 182, 0.562);
  
}
#f{
  background-image: url('musicb.jpg');
  background-position-y:-70px;
  background-repeat: no-repeat;
  background-position-x: 150px;
}

.eve{
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
}
.eventstart{
  background-color: none;
}

#email{
  padding:8px;
  display:block;
  border-bottom:1px solid #ccc;
  width:100%;
  border:1px solid #ccc!important;
}
#phone_number{
  padding:8px;
  display:block;
  border-bottom:1px solid #ccc;
  width:100%;
  border:1px solid #ccc!important;
}
#message{
  padding:8px;
  display:block;
  border-bottom:1px solid #ccc;
  width:100%;
  border:1px solid #ccc!important;
}
.bgimg-1 {


  max-height: 100%;
  padding-bottom: 20px;
}
.w3-bar.w3-card{
  background-color: white;;
}
.w3-bar-item.w3-button:hover{
background-color: red;
}
.abt{
  width: 70%;
  text-align: center;
 margin-left: auto;
 margin-right: auto;
 
}
.bgimg-1.w3-display-container.w3-grayscale-min{
 
  
  

}
.w3-container.bo{
  transition: transform .2s;
}
.w3-container.bo:hover{
  cursor: pointer;
  transform: translate(1,1);
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}

.w3-jumbo.w3-hide-small{
  font-weight: 600;
  
}
.bbb{
 

  border-radius: 100px;
 
}
#x{
 background-position-y: -0px;
  
    background-color: none;
    background-image: url("D5VhEe.jpg");
   
  
}
.eventstart{
  background-image: url("D5VhEe.jpg");
  background-position-y: -470px;

  height: 250px;
}
.eventte{
font-size: 40px;
text-align: center;
padding-top: 20px;
color:rgb(9, 11, 121);
}
.eventt{
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  text-align: center;
  align-items: stretch;
 
  color:rgb(233, 33, 33);
 
}
.eventt:nth-child(1){
 border-style: solid;
}
.eventtex{
  text-align: center;;
  align-content: space-between;
  color: rgb(162, 14, 175);
  font-weight: 800;
  font-size: 20px;
  margin-top: 10px;
}
.vb{
  text-align: left;
}
.rff{
  margin-top: 53px;
}
.rf{
  margin-left: 20px;
  margin-top:100px;
  height:400px;
  
  font-size: 100%;
  width:550px;
  background-color: transparent;
  border-radius: 10px;
  border-style: solid;
  border-color:transparent;
  
  color:white;
  
}
.rf1{
  text-align: center;
  margin-top: 20px;
  font-size:40px;
  font-family: 'Red Rose', cursive;

  font-style: bold;
  color: black;
  margin-bottom: 40px;
  cursor: default;
}
video.a {
  width: 200px;
  height: 400px;
  object-fit: none;
  object-position: 5px 10%;
  border: 5px solid red;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    section
    {
    position: relative;
    width: 100%;
    height: 100vh;
    }
    section video
    {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    }
    section .navigation
    {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    section .navigation li
    {
    list-style: none;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 4px;
    background: #fff;
    padding: 3px 3px 0;
    opacity: 0.7;
    transition: 0.5s;
    }
    section .navigation li:hover
    {
    opacity: 1;
    }
    section .navigation li img
    {
    width: 120px;
    transition: 0.5s;
    }
    section .navigation li img:hover
    {
    width: 200px;
    }
.w3-container{
  padding-bottom: 20px;
  text-align: center;
  
}

.w3-button.w3-light-grey.w3-block{
  margin-top:  10px;
}
#ft{
  font-weight: 900;
  font-size: 20px;
}
.w3-container5{
  background-image: url("image0\ \(17\).jpeg");
  background-size: cover;
  background-position-y: -50px;
  background-position-x: 30px;
  filter: hue-rotate(20deg)
}
#contact{
  background-image: url("image1\ \(8\).jpeg");
  background-size: cover;
  
}
.w3-container.w3-light-grey.input{
 size: 50;
}
#team{
  background-image: url("T0Mw3xx.jpg");
  background-size: cover;
  
 
}
  
.w3-container.w3-card{
  background-color: red;;
}
.w3-row-padding.w3-grayscale{
 
  margin-left: auto;
  margin-right: auto;
}
.biggg{
  background-image: url("bigstock-Music-Background-Blues-Music-2768435.jpg");
  background-size: cover;
   color: rgb(0, 9, 90);

  font-weight: 700;
}
#hov:hover{
background-color: bisque !important;
color: brown !important;
}
#logout{
 
  background-color: bisque !important;
color: brown !important;
}
.vid{
  margin-top: -10px;
  background-image: url("81DnkmWlKVL._AC_SL1500_.jpg");
  background-size: cover;
  color: white;
}
.slideshow-container {
  width: 1000px;
top: 40px;
    position: relative;
    margin: auto;
  }
  .slideshow-container img{
    height: 500px;
  }
  .w3-button.w3-white.w3-padding-large.w3-large.w3-opacity.w3-hover-opacity-off{
position:none;

 
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.0s;
    animation-name: fade;
    animation-duration: 2.0s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
